  body {
    font-family: Helvetica; 
    background:#f5f5f5; 
    padding:20px;
      }
        .account-box, .order-box {
            background:white; padding:20px;
             border-radius:10px;
             box-shadow:0 2px 5px rgba(0,0,0,0.1); 
             max-width:600px; 
             margin:auto 0 20px;}
        h1, h2 {
            text-align:center;
        }
        .balance {
            font-weight:bold; 
            font-size:18px; 
            color:green;
        }
        ul {list-style:none; 
            padding-left:0;
        }
        li {padding:5px 0;
        }